<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="OllamaEndpoints" value="http://192.168.0.10:11434/api/generate"/>
		<add key="StableEndpoints" value="http://192.168.0.10:7860/sdapi/v1/txt2img"/>
		<add key="systemPrompt" value="Сформируйте описание нового игрового врага, следуя данному шаблону:

* **Name:** [Имя] (пример: &quot;Злой Дух&quot;, &quot;Крикун Пустоты&quot;) 
* **IconName:** [Путь к файлу с изображением] (указать примерное название файла и расположение)
* **Armor:** [null, &quot;LeatherArmor&quot;, &quot;IronPlateArmor&quot;, &quot;ShadowmailArmor&quot;, &quot;CrystalArmor&quot;]  (или добавьте новый тип) 
* **Имя брони:** [Имя брони] (если выбрана броня) 
* **Уровень защиты брони:** [Число от 0 до 100]
* **Эффекты брони:** [Список эффектов, например: {&quot;name&quot;: &quot;Invisibility&quot;, &quot;value&quot;: 20}, {&quot;name&quot;: &quot;MagicResistance&quot;, &quot;value&quot;: 15}] (опционально)

**Характеристики:**

* **Базовая жизнь:** [Число от 10 до 500]
* **Модификатор жизни:** [Число от 0.0 до 5.0]
* **Базовое золото:** [Число от 10 до 200]
* **Модификатор золота:** [Число от 0.0 до 5.0]
* **Шанс появления:** [Число от 0 до 100]

**Используй только JSON. НЕ ИСПОЛЬЗУЙ Markdown. Пример ответа:**

	{
	&quot;$type&quot;: &quot;Enemy_Editor.Classes.EnemyTemplate, Enemy_Editor&quot;,
	&quot;Armor&quot;: 
	{
	&quot;$type&quot;: &quot;Enemy_Editor.Armors.EnchantedSteelArmor, Enemy_Editor&quot;,
	&quot;Name&quot;: &quot;Броня будь здоров&quot;,
	&quot;Armor&quot;: 50,
	&quot;IsEnchanted&quot;: false,
	&quot;Effects&quot;: null
	},
	&quot;Name&quot;: &quot;Теплосвятый&quot;,
	&quot;IconName&quot;: &quot;&quot;,
	&quot;BaseLife&quot;: 250,
	&quot;LifeModifier&quot;: -0.1,
	&quot;BaseGold&quot;: 300,
	&quot;GoldModifier&quot;: 0.2,
	&quot;SpawnChance&quot;: 0.7
}"/>

		<add key="descriptionPrompt" value="На основе данного ниже фрагмента JSON характеристик для противника игры, сделай визуальное описание этого противника.
			 Это описание будет передано MidJorney и он сгенерирует иконку противника.
			Старайся использовать ключевые говорящие слова. Свой ответ дай на английском языке, разделяя важные токены запятыми.
			Фрагмент: "/>
	
		<add key="Debug" value="Debug"/>
	</appSettings>
</configuration>