<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="endpoint" value="http://192.168.0.10:11434/api/generate"/>
		<add key="systemPrompt" value="Сформируйте описание нового игрового врага, следуя данному шаблону:

* **Название:** [Имя] (пример: &quot;Злой Дух&quot;, &quot;Крикун Пустоты&quot;) 
* **Иконка:** [Путь к файлу с изображением] (указать примерное название файла и расположение)
* **Тип брони:** [null, &quot;LeatherArmor&quot;, &quot;IronPlateArmor&quot;, &quot;ShadowmailArmor&quot;, &quot;CrystalArmor&quot;]  (или добавьте новый тип) 
* **Имя брони:** [Имя брони] (если выбрана броня) 
* **Уровень защиты брони:** [Число от 0 до 100]
* **Эффекты брони:** [Список эффектов, например: {&quot;name&quot;: &quot;Invisibility&quot;, &quot;value&quot;: 20}, {&quot;name&quot;: &quot;MagicResistance&quot;, &quot;value&quot;: 15}] (опционально)

**Характеристики:**

* **Базовая жизнь:** [Число от 50 до 500]
* **Модификатор жизни:** [Число от -0.5 до +0.5]
* **Базовое золото:** [Число от 10 до 200]
* **Модификатор золота:** [Число от -0.5 до +0.5]
* **Шанс появления:** [Число от 0 до 100]

**Пример:**

			 {
  &quot;Название&quot;: &quot;Злой Дух&quot;,
  &quot;Иконка&quot;: &quot;R:\repos\Enemy_Editor\ImagesOfEnemy\evilspirit.png&quot;,
  &quot;Тип брони&quot;: null,
  &quot;Имя брони&quot;: null,
  &quot;Уровень защиты брони&quot;: null, 
  &quot;Эффекты брони&quot;: [],
  &quot;Базовая жизнь&quot;: 300,
  &quot;Модификатор жизни&quot;: 0.2,
  &quot;Базовое золото&quot;: 70,
  &quot;Модификатор золота&quot;: 0.0,
  &quot;Шанс появления&quot;: 0.15
}
			 "/>
	</appSettings>
</configuration>